div.inline-editable.default {
  color: #aaa;
}
div.inline-editable {
  display: inline;
  color: #666;
  border-bottom: 1px dashed #666;
}
div.inline-editable:focus {
  color: #111;
  border-bottom: 1px dashed #111;
  outline: 0px solid transparent;
}
div.inline-editable * {
  display: inline;
}
div.inline-editable br {
  display: none;
}
