div.inline-editable {
  color: #111;
  display: inline;
}

h3.name-wrapper.default > div.inline-editable {
  color: #aaa;
  border-bottom: 1px dashed #666;
}

h3.name-wrapper > i.bi-pencil-square {
  display: none;
}

h3.name-wrapper:hover > i.bi-pencil-square,
h3.name-wrapper.default > i.bi-pencil-square {
  display: inline;
}

h3.name-wrapper:hover > div.inline-editable {
 color: #666;
 border-bottom: 1px dashed #666;
}

div.inline-editable:focus {
  color: #111;
  border-bottom: 1px dashed #111;
  outline: 0px solid transparent;
}
div.inline-editable * {
  display: inline;
}
div.inline-editable br {
  display: none;
}
