<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Word Filters Splash Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="{% static 'youtube/style.css' %}" />
  </head>
    <div>
      <div class="bg-info text-white p-5 text-center">
        <h1>Filter Buddy</h1>
        <br>
        <img
          src="{% static 'youtube/filter-buddy-temp.png' %}"
          class="rounded mx-auto d-block"
          alt="filter buddy in dark blue text"
        />
      </div>
      <div class="jumbotron  vertical-center">
        <div class="container">
          <div class="row">
            <h2>Mission Statement</h2>
            <h4>This is our Mission Statement</h4>
            <div class="col">
              <a class="btn btn-outline-info" href="#" role="button">Read Paper</a>
              <a class="btn btn-outline-info" href="#" role="button">Try It Out</a>
            </div>
          </div>
          <div class="row">
            <h2>How Does It Work?</h2>
            <div class="col">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="..."></iframe>
              </div>
            </div>
          </div>
          <div class="row">
            <h2>Team</h2>
            <div class="row">
              <div class="col-4">
                <h2>Creators</h2>
              </div>
              <div class="col-8">
                <div class="profile">
                  <img src="{% static 'youtube/pfp_doggo.jpeg' %}" class="rounded-circle"
                  alt="photo of a pitbull dog wearing green glasses with the year 2022"/>
                  <p>Doggo Jameson2</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <h2>Developers</h2>
              </div>
              <div class="col-8">
                <div class="profile">
                  <img src="{% static 'youtube/pfp_doggo.jpeg' %}" class="rounded-circle"
                  alt="photo of a pitbull dog wearing green glasses with the year 2022"/>
                  <p>Doggo Jameson2</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
