<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% load static %}
    <style>
      div {
        max-width: 1100px;
      }
    </style>
    <title>Filter Buddy</title>
    <style type="text/css"></style>
  </head>
  <body>
    <div class="logo">
      <img
        src="{% static 'youtube/filter-buddy-temp.png' %}"
        alt=""
        width="500"
        height="500"
      />
      <h1>Filter Buddy</h1>
    </div>
    <div class="mission-statement">
      <h2>Mission Statement</h2>
    </div>
    <div class="features">
      <h2>How Does It Work?</h2>
    </div>
    <div class="contact-us">
      <h2>Contact Us</h2>
    </div>
  </body>
</html>
