{% load static %}

<head>
<link rel="stylesheet" href="{% static "youtube/style.css" %}" />
</head>


<body>
<h1>Channel Comments </h1>

<h3 style="color:Brown;">
Go <a href="{% url 'youtube:home' %}">Home here</a>
</h3>

<div>
{% if video_id %}
        <span style="color:Brown;">
    <h2> Comments for <a href="https://www.youtube.com/watch?v=%s" % ({{ video_id }},)>this</a> video: </h2>
        </span>
{% endif %}
</div>

<div >
{% for comment in comments %}
    <div>
        <span style="color:DodgerBlue;">
            <b>{{ comment.snippet.authorDisplayName }}</b> •
        </span> 
        <span style="color:Orange;">
            {{ comment.snippet.publishedAt }}
        </span> 
    </div>

    <div>
{{ comment.snippet.textDisplay }}
({{comment.snippet.likeCount}} likes  )
    </div>
</div>

{% if comment.replies %}
    <ul>
    {% for reply in comment.replies %}
    <li> <span style="color:DodgerBlue;">  <b>{{ comment.snippet.authorDisplayName }}</b> : </span> 
        {{ reply.textDisplay}} 
        ({{ reply.publishedAt }}, {{ reply.likeCount}} likes ) 
    </li>
    {% endfor %}
    </ul>
{% endif %}
<hr class="solid">
{% endfor %}
</div>
</body>
