<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Manage Your Word Filters</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'youtube/style.css' %}">

    <!-- external libraries -->
    <script type="text/javascript" src="https://pettanjs.github.io/dfcjs/dfc.js"></script>
    <script type="text/javascript" src="https://pettanjs.github.io/pettanjs/src/pettan.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <!-- internal libraries -->
    <script type="text/javascript" src="{% static 'youtube/api.js' %}"></script>
    <script type="text/javascript" src="{% static 'youtube/tables.js' %}"></script>
    <script type="text/javascript" src="{% static 'youtube/chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'youtube/model.js' %}"></script>
    <script type="text/javascript" src="{% static 'youtube/app.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'youtube/uw-cse.png' %}" alt="" width="320" height="40">
        </a>
        <a class="navbar-brand navbar-center mx-auto h1" href="#">YouTube Word Filters</a>

        <div class="collapse navbar-collapse" id="nav-controls">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/clear">Sign Out</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="mt-5">Manage Word Filters</h2>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">

          <div class="row">
            <div class="list-group col">
              <a id="sidebar-overview" class="list-group-item list-group-item-action" href="#">
              Overview</a>
            </div>
          </div>

          <div class="row py-3">
            <div id="filter-list" class="list-group col">
            </div>
          </div>

        </div>
        <div class="col-md-9">
          <div id="filter-overview" class="card">
            <div class="card-body">
              <h3>Overview</h3>
              <div class="py-2">
                <div id="chart-overview-container" class="chart-container" style="height: 600px;"></div>
              </div>
            </div>
          </div>
          <!-- filter editor -->
          <div id="filter-editor" class="card" style="display: none;">
            <div class="card-body">
              <h3 id="name-wrapper" class="name-wrapper">
                <a id="btn-delete" href="#" class="btn btn-danger float-end"><i class="bi bi-trash"></i></a>
                <div id="filter-name" class="inline-editable" contenteditable="true">Unnamed Filter</div>
                <i class="bi bi-pencil-square"></i>
              </h3>
              <!-- end name -->
              <div id="wrap-preview" class="py-2" style="display: none;">
                <div id="chart-filter-container" class="chart-container" style="height: 300px;"></div>
              </div>
              <!-- end common preview -->

                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="albums" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/capi/commentTables/1/?format=datatables">
                        <thead>
                          <tr>
                            <th data-data="text">Comment</th>
                            <th data-data="author">Commenter</th>
                            <th data-data="pub_date">Date/Time</th>             
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
                <script src="//code.jquery.com/jquery-1.12.4.js"></script>
                <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
                <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
                <script>
                    $(document).ready(function() {
                        $('#albums').DataTable();
                    });
                </script>


                


              <div id="wrap-edit-existing" class="py-2" style="display: none;">
                <div id="rule-edit-preview">
                  <h4>Preview</h4>
                  <p>
                    The table below shows a sample of comments that are matched by
                    <span id="label-preview-mode">any rule in the current filter group</span>
                  </p>
                  <table id="table-preview" class="table table-striped table-hover interactive">
                    <thead>
                      <tr>
                        <th scope="col" width="10%"></th>
                        <th scope="col" width="40%">Comment</th>
                        <th scope="col" width="10%">Author</th>
                        <th scope="col" width="20%">Video</th>
                        <th scope="col" width="20%">Date / Time</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                <div id="rule-new-input">
                  <p>To add another word filter, enter a word into the box below:</p>
                  <div class="rule-create basic row">
                    <div class="col-auto" style="width: 300px;">
                      <input class="form-control" id="rule-explore" type="text" placeholder="Please type word to filter here">
                    </div>
                    <div class="col-auto">
                      <a id="btn-add-rule" href="#" class="btn btn-primary mb-3">Add Rule</a>
                    </div>
                  </div>
                  <p>As you type the preview above will show comments that would be filtered by the new rule.
                    Clear the text entry box to switch back to a preview of the entire group.</p>
                </div>
                <div id="rule-edit-others">
                  <table id="table-rules" class="table table-striped table-hover interactive">
                    <thead>
                      <tr>
                        <th scope="col" width="10%"></th>
                        <th scope="col" width="50%">Phrase</th>
                        <th scope="col" width="40%">Stats</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end edit existing ui -->
              <div id="wrap-create-from-scratch" class="py-2" style="display: none;">
                <p>Select how you want to create the filter list:</p>
                <div class="px-2">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="wizMode" id="wiz-mode-empty" checked value="empty">
                    <label class="form-check-label" for="wiz-mode-empty">
                      Create an empty filter list
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="wizMode" id="wiz-mode-preset" value="template">
                    <label class="form-check-label" for="wiz-mode-preset">
                      Create a list based on a platform template
                    </label>
                    <div id="sec-template" class="py-1" style="display: none;">
                      <div class="mb-3">
                        <label for="templateName" class="form-label">Base this list on the following template:</label>
                        <select id="dropdown-template" name="templateName" class="form-select">
                          <option value="template:23" selected> Identity Hate - Racism</option>
                          <option value="template:22"> Identity Hate - Sexism</option>
                        </select>
                      </div>
                      <!--
                      <div class="mb-3">
                        <label for="strength" class="form-label">Select the filtering strength you want to base this list on:</label>
                        <div class="px-3">
                          <input type="range" class="form-range" min="1" max="4" step="1" id="strength">
                        </div>
                      </div>
                      -->
                    </div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="wizMode" id="wiz-mode-clone" value="existing">
                    <label class="form-check-label" for="wiz-mode-clone">
                      Clone another existing filter list
                    </label>
                    <div id="sec-existing" class="py-1" style="display: none;">
                      <div class="mb-3">
                        <select id="dropdown-existing-groups" name="existingGroupName" class="form-select">
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="d-grid d-md-flex justify-content-md-end">
                    <button id="btn-create-rule-group" class="btn btn-primary me-md-2" type="button">Create</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end create new wizard -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
