<!DOCTYPE html>
<html>
<body>

<h1>YouTube Rule Collections</h1>

{% if page_message %}
    <h2 style="color:Red;"> 
    {{ page_message }}
    </h2>
{% endif %}


<p>What do you want to do?</p>

<table>
          <tr><td><a href="/test">Test an API request</a></td>
          <td>Submit an API request and see a formatted JSON response. Go through the authorization flow if there are no stored credentials for the user.</td></tr>
          <tr><td><a href="/authorize">Test the auth flow directly</a></td>
          <td>Go directly to the authorization flow. If there are stored credentials, you still might not be prompted to reauthorize the application.</td></tr>
          <tr><td><a href="/revoke">Revoke current credentials</a></td>
              <td>Revoke the access token associated with the current user session. After revoking credentials, if you go to the test page, you should see an <code>invalid_grant</code> error.</td></tr>
          <tr><td><a href="/clear">Clear Flask session credentials</a></td>
              <td>Clear the access token currently stored in the user session now.
                  After clearing the token, if you <a href="/test">test the API request</a> again, you should go back to the auth flow.</td></tr>
          <tr><td><a href="/get_videos">Get all videos</a></td>
              <td>Get all the videos posted on your channel.</td></tr>
          <tr><td><a href="/get_comments">Get all comments</a></td>
              <td>Get all the comments posted on your channel.</td></tr>
          <tr><td><a href="/create_word_filter">Create a Word Filter</a></td>
              <td>Design a new word filter for your channel.</td></tr>
          <tr><td><a href="/get_matching_comments/shit">Get Matching Comments</a></td>
              <td>Get comments matching a phrase.</td></tr>              
</table>

</body>
</html>
