{% extends "youtube/page_base.html" %}

{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'youtube/app.add.js' %}"></script>
{% endblock scripts %}

{% block content %}
  <h3 id="name-wrapper" class="name-wrapper default">
    <div id="filter-name" class="inline-editable" contenteditable="true">Unnamed Filter</div>
    <i class="bi bi-pencil-square"></i>
  </h3>
  <div id="wrap-create-from-scratch" class="py-2">
    <p>Select how you want to create the filter list:</p>
    <div class="px-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="wizMode" id="wiz-mode-empty" checked value="empty">
        <label class="form-check-label" for="wiz-mode-empty">
          Create an empty filter list
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="wizMode" id="wiz-mode-preset" value="template">
        <label class="form-check-label" for="wiz-mode-preset">
          Create a list based on a platform template
        </label>
        <div id="sec-template" class="py-1" style="display: none;">
          <div class="mb-3">
            <label for="templateName" class="form-label">Base this list on the following template:</label>
            <select id="dropdown-template" name="templateName" class="form-select">
              {% for preset in presets %}
                {% if forloop.first %}
                  <option value="template:{{ preset.id }}" selected>{{ preset.name }}</option>
                {% else %}
                  <option value="template:{{ preset.id }}">{{ preset.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            {% for preset in presets %}
              {% if forloop.first %}
              <div id="preview-template:{{ preset.id }}" class="card mt-2">
                <div class="card-body">
                  <h5 class="card-title">{{ preset.name }}</h5>
                  <p class="card-text">{{ preset.description }}</p>
                </div>
              </div>
              {% else %}
              <div id="preview-template:{{ preset.id }}" class="card mt-2" style="display: none;">
                <div class="card-body">
                  <h5 class="card-title">{{ preset.name }}</h5>
                  <p class="card-text">{{ preset.description }}</p>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="wizMode" id="wiz-mode-clone" value="existing">
        <label class="form-check-label" for="wiz-mode-clone">
          Clone another existing filter list
        </label>
        <div id="sec-existing" class="py-1" style="display: none;">
          <div class="mb-3">
            <select id="dropdown-existing-groups" name="existingGroupName" class="form-select">
              {% for collection in collections %}
                <option value="existing:{{ collection.id }}">{{ collection.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="d-grid d-md-flex justify-content-md-end">
        <button id="btn-create-rule-group" class="btn btn-primary me-md-2" type="button">Create</button>
      </div>
    </div>
  </div>
{% endblock content %}
