{% extends "youtube/page_base.html" %}

{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'youtube/app.add.js' %}"></script>
{% endblock scripts %}

{% block content %}
<h3>Add a New Category</h3>
<div class="section"> 
  <h3 id="name-wrapper" class="name-wrapper default">
    <div id="filter-name" class="inline-editable" contenteditable="true">Unnamed Category</div>
    <i class="bi bi-pencil-square"></i>
  </h3>
  <div id="wrap-create-from-scratch" class="py-2">
    <p>Select how you want to create the category:</p>
    <div class="px-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="wizMode" id="wiz-mode-empty" checked value="empty">
        <label class="form-check-label" for="wiz-mode-empty">
          Create an empty category
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="wizMode" id="wiz-mode-preset" value="template">
        <label class="form-check-label" for="wiz-mode-preset">
          Clone a built-in category 
        </label>
        <div id="sec-template" class="py-1" style="display: none;">
          <div class="mb-3">
            <label for="templateName" class="form-label">Import and build on the following category:</label>
            <select id="dropdown-template" name="templateName" class="form-select w-75">
              {% for template in rule_templates %}
                {% if forloop.first %}
                  <option value="template:{{ template.id }}" selected>{{ template.name }}</option>
                {% else %}
                  <option value="template:{{ template.id }}">{{ template.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            {% for template in rule_templates %}
              {% if forloop.first %}
              <div id="preview-template:{{ template.id }}" class="card mt-2 w-75">
                <div class="card-body">
                  <h5 class="card-title">{{ template.name }}</h5>
                  <p class="card-text">{{ template.description|linebreaks|urlize }}</p>
                  <p class="card-text"> Phrases in this category include
                  {% for rule in template.rule_set.all|slice:"0:5" %}
                    {{ rule.phrase }}{% if forloop.last %}.{% else %}, {% endif %}
                  {% endfor %}
                  </p>
                  <p class="card-text"><i>Includes {{ template.rule_set.count }} rules; Used by {{ template.num_users }} users</i></p>
                </div>
              </div>
              {% else %}
              <div id="preview-template:{{ template.id }}" class="card mt-2 w-75" style="display: none;">
                <div class="card-body">
                  <h5 class="card-title">{{ template.name }}</h5>
                  <p class="card-text">{{ template.description|linebreaks|urlize }}</p>
                  <p class="card-text"> Phrases in this template include
                  {% for rule in template.rule_set.all|slice:"0:5" %}
                    {{ rule.phrase }}{% if forloop.last %}.{% else %}, {% endif %}
                  {% endfor %}
                  </p>                  
                  <p class="card-text"><i>Includes {{ template.rule_set.count }} rules; Used by {{ template.num_users }} users</i></p>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="wizMode" id="wiz-mode-clone" value="existing">
        <label class="form-check-label" for="wiz-mode-clone">
          Clone another user's shared category
        </label>
        <div id="sec-existing" class="py-1" style="display: none;">
          <div class="mb-3">
            <label for="existingGroupName" class="form-label">Start with a category shared by another user:</label>
            <select id="dropdown-existing-groups" name="existingGroupName" class="form-select  w-75">
              {% for collection in shared_collections %}
                {% if forloop.first %}
                <option value="existing:{{ collection.id }}" selected>{{ collection.name }}</option>
                {% else %}
                <option value="existing:{{ collection.id }}">{{ collection.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            {% for collection in shared_collections %}
              {% if forloop.first %}
              <div id="preview-existing:{{ collection.id }}" class="card mt-2 w-75">
                <div class="card-body">
                  <h5 class="card-title">{{ collection.name }}</h5>
                  <p class="card-text">{{ collection.description|linebreaks|urlize }}</p>
                  <p class="card-text"> Phrases in this template include
                  {% for rule in collection.rule_set.all|slice:"0:5" %}
                    {{ rule.phrase }}{% if forloop.last %}.{% else %}, {% endif %}
                  {% endfor %}
                  </p>        
                  <p class="card-text"><i>Includes {{ collection.rule_set.count }} rules; Implemented by channel: {{ collection.owner.title }} </i></p>      
                </div>
              </div>
              {% else %}
              <div id="preview-existing:{{ collection.id }}" class="card mt-2 w-75" style="display: none;">
                <div class="card-body">
                  <h5 class="card-title">{{ collection.name }}</h5>
                  <p class="card-text">{{ collection.description|linebreaks|urlize }}</p>
                  <p class="card-text"> Phrases in this template include
                  {% for rule in collection.rule_set.all|slice:"0:5" %}
                    {{ rule.phrase }}{% if forloop.last %}.{% else %}, {% endif %}
                  {% endfor %}
                  </p>                  
                  <p class="card-text"><i>Includes {{ collection.rule_set.count }} rules; Implemented by channel: {{ collection.owner.title }} </i></p>      
                  
                </div>
              </div>
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
      <div class="d-grid d-md-flex justify-content-md-end">
        <button id="btn-create-rule-group" class="btn btn-primary me-md-2" type="button">Create</button>
      </div>
    </div>
  </div>
</div>  
{% endblock content %}
