{% extends "youtube/page_base.html" %}

{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'youtube/app.edit.js' %}"></script>
{% endblock scripts %}

{% block content %}
  <h3 id="name-wrapper" class="name-wrapper">
    <a id="btn-delete" href="#" class="btn btn-danger float-end"><i class="bi bi-trash"></i></a>
    <div id="filter-name" class="inline-editable" contenteditable="true">{{  current.collection.name }}</div>
    <i class="bi bi-pencil-square"></i>
  </h3>
  <!-- end name -->
  <div id="wrap-preview" class="py-2">
    <div id="chart-filter-container" class="chart-container" style="height: 300px;"></div>
  </div>
  <!-- end common preview -->

  <div id="wrap-edit-existing" class="py-2">
    <h3>Preview</h3>
    <p>
      The table below shows the comments that are matched by any rule in the current filter group.
    </p>
    <div class="row">
      <div class="col-sm-12">
        <table id="albums" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Comment</th>
              <th>Commenter</th>
              <th>Date/Time</th>
              <th>Video</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div id="rule-edit-others">
      <h3>Rules in this Filter Group</h3>
      <table id="table-rules" class="table table-striped table-hover interactive">
        <thead>
          <tr>
            <th scope="col" width="10%"></th>
            <th scope="col" width="30%">Phrase</th>
            <th scope="col" width="20%">Case Sensitive</th>
            <th scope="col" width="20%">Spell Variants
              <span data-toggle="tooltip" title="Turn this on to capture all words with characters repeated, e.g., configuring 'shit' will also catch 'shiiit' and 'shitttt'. " style="color:blue;">
              <sup>?</sup>
              </span>
            </th>
            <th scope="col" width="20%">Caught Comments</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div id="rule-edit-preview">
      <h4>Add New Rule</h4>
      <p>
        <span id="label-preview-mode"> </span>
      </p>

      <table id="table-preview" class="table table-striped table-hover interactive">
        <thead>
          <tr>
            <th scope="col" width="10%"></th>
            <th scope="col" width="40%">Comment</th>
            <th scope="col" width="10%">Author</th>
            <th scope="col" width="20%">Video</th>
            <th scope="col" width="20%">Date / Time</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div id="rule-new-input">
      <p>To add another word filter, enter a word into the box below:</p>
      <div class="rule-create basic row">
        <div class="col-auto" style="width: 300px;">
          <input class="form-control" id="rule-explore" type="text" placeholder="Please type word to filter here">
        </div>
        <div class="col-auto">
          <a id="btn-add-rule" href="#" class="btn btn-primary mb-3">Add Rule</a>
        </div>
      </div>
      <p>As you type the preview above will show comments that would be filtered by the new rule. </p>
    </div>
  </div>
{% endblock content %}
