{% load static %}

<head>
<link rel="stylesheet" href="{% static "youtube/style.css" %}" />
</head>


<h1>Channel Videos</h1>

<h3 style="color:Brown;">
Go <a href="{% url 'youtube:home' %}">Home here</a>
</h3>

{% for video in videos %}
    <div>
        <span style="color:DodgerBlue;">
            <b>{{ video.title }}</b> •
        </span> 
        <span style="color:Orange;">
            {{ video.pub_date }}
        </span> 
    </div>
    <div>
        <span style="color:Red;">
            <a href="/get_video_comments/{{video.video_id}}">Comments</a>
        </span> 
    </div>

<hr class="solid">
{% endfor %}

